@import url('./reset.css');
@import url('./components/button.css');
@import url('./components/input.css');
@import url('./components/select.css');
@import url('./components/thumbnail.css');

#app {
    max-width: 480px;
    margin: 0 auto;
    padding: 2rem;
}

/* TODO: AI Chatbot styles */

.widget__container {
    box-shadow: 0 0 18px 8px rgba(0, 0, 0, 0.1), 0 0 32px 32px rgba(0, 0, 0, 0.08);
    width: 400px;
    overflow: auto;
    right: 30px;
    top: 75px;
    bottom: 75px;
    position: absolute;
    transition: max-height .2s ease;
    font-family: Helvetica, Arial ,sans-serif;
    background-color: var(--color-container);
    border-radius: 10px;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.widget__container .header {
    padding: 12px 16px;
    border-bottom: 1px solid var(--color-border);
}

.widget__container .body {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.widget__container .body .message-thread {
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden auto;
    height: 100%;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    margin: 0;
    padding: 0;
}

.widget__container .body .message-thread li {
    list-style: none;
}

.widget__container .footer {
    padding: 12px;
    border-top: 1px solid var(--color-border);
}
