input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="url"],
input[type="tel"],
input[type="date"],
input[type="time"],
textarea {
    height: 36px;
    outline: none;
    background: var(--color-white);
    border: 1px solid var(--color-border);
    border-radius: 4px;
    padding-inline: 12px;
    transition-duration: .2s;
}

textarea {
    padding-block: 8px;
    min-height: 96px;
    resize: vertical;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder,
input[type="number"]::placeholder,
input[type="url"]::placeholder,
input[type="tel"]::placeholder,
input[type="date"]::placeholder,
input[type="time"]::placeholder,
textarea::placeholder {
    color: var(--color-tertiary);
    opacity: 1;
}

input[type="text"]:hover,
input[type="email"]:hover,
input[type="password"]:hover,
input[type="number"]:hover,
input[type="url"]:hover,
input[type="tel"]:hover,
input[type="date"]:hover,
input[type="time"]:hover,
textarea:hover {
    border-color: var(--color-border-hover);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="url"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus,
input[type="time"]:focus,
textarea:focus {
    border-color: var(--color-accent);
    box-shadow: 0 0 0 2px rgba(0, 143, 245, .25);
}
